<!DOCTYPE html>
<html lang="en">
<head>
    <title>Danh sách sản phẩm</title>
</head>
<body>
<h1>Danh sách sản phẩm</h1>
<table border="1">
    <thead>
    <tr>
        <th>Tên sản phẩm</th>
        <th>Mô tả</th>
        <th>Giá</th>
        <th>Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${products}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.price}"></td>
        <td><a th:href="@{'product/' + ${p.id}}">Xem</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>